body{
    
    background-color: gold
}
.container {
    text-align: center;
    

}
/* .male{
    align-items: center;
    text-align: center;
} */
.list{
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 35%;
    font-size: 20px;

}
.form{
    text-align: center;
}